.background {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculatorTop {
    margin-top: 4vh;
}

.calculatorBottom {
    margin-bottom: 2vh;
}

.calculatorBody {
    height: 65vh;
    width: 270px;
    background-color: #5791b3;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;   
    padding: 2vh;
}

.calculatorTop {
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.calculatorTop,
.calculatorBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
    gap: 1.3vh;
}

button {
    height: 8vh;
    width: 64px;
    background-color: lightgrey;
    font-size: large;
}

button.clear,
button.backspace {
    width: 132px;
}

button.clear{
    background-color: #FA8072;
}

button.backspace {
    background-color: #FFB35C;
}

#one.row {
    border-color: black 1px solid;
}

#inputDisplay {
    background-color: #93B557;
    display: flex;
    flex: 1 1 0;
    height: 10vh;
    width: 236px;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 15px;
    border-color: black;
    font-weight: bold;
}   
